asgiref>=3.2.10
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Django==3.1
PyJWT
django-cors-headers==3.7.0
django-fake-bot-detector==0.2
django-filter==2.4.0
django-jsonfield==1.4.1
django-redis-cache==3.0.0
django-revproxy==0.10.0
djangorestframework==3.12.2
djangorestframework-jwt==1.11.0
djcacheutils==3.0.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
lxml==4.6.3
MarkupSafe==1.1.1
mysqlclient==2.0.3
python-dateutil==2.8.1
python-memcached==1.59
python-slugify==4.0.1
pytz==2021.1
randtest==0.7
redis==3.5.3
requests==2.25.1
requests-futures==1.0.0
six==1.15.0
sqlparse==0.4.1
text-unidecode==1.3
Unidecode==1.2.0
urllib3==1.26.4
djangorestframework-api-key==2.0.0
